@import "tailwind.css";
@import "fonts/fonts.css";
@import "overlay.css";
@import "animations.css";

html {
  height: 100%;
}

body {
  color: white;
  position: relative;
  background: fixed url("../images/build/watercolour-wash.webp"), repeat url("../images/build/seamless-watercolour-paper.webp");
  background-size: cover, 10%;
  background-blend-mode: multiply;
  height: 100%;
}

body > .container,
body > section {
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

button {
  letter-spacing: 0.1em;
}

#border {
  pointer-events: none;
  position: sticky;
  top: 0.25rem;
  min-height: calc(100vh - 0.5rem);
  border-image: url("../images/build/border2.png") 9 / 9px round;
  -webkit-border-image: url("../images/build/border2.png") 9 / 9px round;
  outline: 0.25rem solid white;
}

@screen sm {
  #border {
    top: 0.5rem;
    border-image-width: 15px;
    outline-width: 0.5rem;
    min-height: calc(100vh - 1rem);
  }
}

#tipjar li > * {
  @apply py-2 uppercase max-w-xs sm:max-w-sm sm:text-xl flex justify-center items-center px-8 text-center flex-wrap my-6 border-white border-2 hover:scale-105;
  min-height: 56px;
  width: 100%;
  border-radius: 22px;
  box-shadow: 6px 6px 11px #242424;
}

a {
  @apply underline decoration-wavy underline-offset-4 decoration-1;
  text-decoration-skip-ink: none;
}

#lamp1:hover,
#lamp2:hover {
  animation: swing 2s infinite;
}

main {
  font-family: "Shadows Into Light", cursive;
}

main p {
  @apply mt-5 sm:mt-8 text-center sm:text-left sm:text-xl;
}

p:first-child,
p:only-of-type {
  margin: 0;
}

.member {
  @apply w-full grid gap-y-4 gap-8 mb-8 sm:gap-y-6 sm:gap-10 sm:mb-12 sm:grid-cols-[auto,1fr] justify-items-center items-center sm:justify-items-start uppercase tracking-widest max-w-screen-md;
}
.member:nth-of-type(even) {
  @apply sm:justify-items-end;
  direction: rtl;
}

.member img {
  @apply row-span-1 sm:row-span-2 order-1;
  /* grid-row: 1 / 3; */
}

.member p {
  @apply order-3 sm:order-2 sm:self-end sm:col-start-2;
  direction: ltr;
}
.member-socials {
  @apply flex gap-4 flex-wrap justify-center sm:justify-start order-2 sm:order-3 sm:col-start-2 sm:self-start;
}
.member-socials a {
  @apply text-teal-700 hover:decoration-red-700 hover:scale-110;
}

.cheese-and-crackers {
  font-family: "CheeseAndCrackers-Heavy";
}

.cheese-and-crackers span[class^="word"] {
  @apply mb-4;
}

.cheese-and-crackers span {
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
}

#gallery .cheese-and-crackers span {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0px;
}

/* @supports (-webkit-font-smoothing: antialiased) {
  #gallery .cheese-and-crackers span {
    -webkit-text-stroke: 5px white;
    paint-order: stroke fill;
  }
  .cheese-and-crackers span {
    -webkit-text-stroke: 8px black;
    paint-order: stroke fill;
  }
} */



.folder-container {
  @apply flex flex-wrap md:justify-start mb-12 pb-12 justify-between border-dotted border-b-2 border-b-zinc-200;
}
.folder-container.unloaded .folder {
  @apply hidden;
}

.folder-name {
  @apply text-2xl;
}

.folder-container button {
  @apply text-base text-white md:ml-8 bg-sky-400 rounded-xl px-4 py-2 uppercase;
}

.folder {
  @apply grid gap-4 mt-12 w-full;
  grid-template-columns: repeat(auto-fill, minmax(min(8em, calc(33% - 0.77em)), 1fr));
}

.folder-container.enlarged .folder {
  grid-template-columns: repeat(auto-fill, minmax(min(30em, 100%), 1fr));
}

.folder-container.unloaded .enlarge-button {
  display: none;
}

.image-container {
  flex-basis: calc(25% - 0.77rem);
}

.image-wrapper {
  aspect-ratio: 6 / 4;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}
